// overwrite theme variables

// $primary: red;
// $danger: blue;
$body-text-align:           null !default;
$body-color:                #343a40 !default;
$body-bg:                   #e9ecef !default;
$blue: #1d2c59;


$body-tertiary-bg:          #1d2c59 !default;
$navbar-light-color:  white !default;
$navbar-light-active-color: white !default;
$navbar-light-hover-color: #f0bcd4 !default;
$dropdown-link-hover-color: #f0bcd4 !default;
$dropdown-link-color-hover: white !default;

// $body-secondary-color:      rgba($body-color, .75) !default;
// $body-secondary-bg:         $gray-200 !default;

// $body-tertiary-color:       rgba($body-color, .5) !default;
// $body-tertiary-bg:          $gray-100 !default;


@import "~bootstrap/scss/bootstrap.scss";


// Default variable overrides
// $body-bg: #000;
// $body-color: #111;

